<% include ../partials/header.ejs %>

<!-- <header>
  <div class="overlay"></div>
  <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
    <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
  </video>
  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-100 text-white">
        <h1 class="display-3">Video Header</h1>
        <p class="lead mb-0">With HTML5 Video and Bootstrap 4</p>
      </div>
    </div>
  </div>
</header>

<section class="my-5">
  <div class="container">
    <div class="row">
      <div class="col-md-8 mx-auto">
        <p>The HTML5 video element uses an mp4 video as a source. Change the source video to add in your own background! The header text is vertically centered using flex utilities that are build into Bootstrap 4.</p>
        <p>The overlay color can be changed by changing the <code>background-color</code> of the <code>.overlay</code> class in the CSS.</p>
        <p>Set the mobile fallback image in the CSS by changing the background image of the header element within the media query at the bottom of the CSS snippet.</p>
      </div>
    </div>
  </div>
</section> -->

<div class="container">
    <header class="jumbotron text-center">
        <div calss= "container">
            <h1>Welcome to Camp Guide</h1>
            <p>Here is a list of Camping Grounds In India</p>
            <a class="btn btn-info btn btn-lg" href="/">Back to home page</a>
            <a class="btn btn-info btn btn-lg" href="campgrounds/new">Add a new camping ground</a>
        </div>
    </header>

    <div class="row text-center" style="display:flex;flex-wrap:wrap;">
        <% campgrounds.forEach(function(campground){ %>
        <div class="col-md-3 col-sm-6">
            <div class="img-thumbnail">
                <img src="<%= campground.image %>" alt="<%= campground.name %>" style="width:200px;height:100px;">
                <div class="caption">
                    <h4><%= campground.name %></h4>
                </div>
                <a href="/campgrounds/<%= campground._id %>" class="btn btn-info">More Info</a>
            </div>
        </div>
        <% }); %>
    </div>
</div>


<% include ../partials/footer.ejs %>
