<% include ../partials/header.ejs %>


<div class="container">

       <h1 style="text-align:center">Create a New Campground</h1>
       <div style="width:30%; margin:25px auto;">
           <form action="/campgrounds" method="post">
              <div class="form-group">
                  <input class="form-control" type="text" placeholder="Name of Campground" name="name">
              </div>
              <div class="form-group">
                  <input class="form-control" type="number" placeholder="Price per night" name="price" min="0.01" step="0.01">
              </div>
              <div class="form-group">
                  <input class="form-control" type="text" placeholder="Image url" name="image">
              </div>
               <div class="form-group">
                   <input type="text" class="form-control"  placeholder="Description of Campground" name="description">
              </div>
              <div class="form-group">
                  <button class="btn btn-lg btn-info btn-block">Submit</button>
              </div>
           </form>
           <a class="btn btn-lg btn-info btn-block" href="/campgrounds">Go back</a>
       </div>
</div>


<% include ../partials/footer.ejs %>
