<% include ../partials/header.ejs %>
<h1>Login</h1>
<form action="/login" method="post">
  <input type="text" placeholder="Username" name="username">
  <input type="password" placeholder="Password" name="password">
  <button type="submit" name="submit">Login</button>
</form>
<% include ../partials/footer.ejs %>
